name: Build My DAT Files
on:
  schedule:
    - cron: '0 */6 * * *' # Обновление каждые 6 часов
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.21'

      - name: Install sing-box
        run: |
          bash <(curl -L https://sing-box.app/install.sh)

      - name: Prepare Data (Direct Links)
        run: |
          # --- СПИСОК ССЫЛОК (RAW ФОРМАТ) ---
          GEOSITE_URLS=(
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/telegram.srs"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/telegram.json"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/whatsapp.srs"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/whatsapp.json"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/whatsapp-ads.srs"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/whatsapp%40ads.srs"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/whatsapp-ads.json"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/whatsapp%40ads.json"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/whatsapp-ads%40ads.srs"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/whatsapp-ads%40ads.json"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/curseforge.srs"
            "https://raw.githubusercontent.com/KaringX/karing-ruleset/sing/geo/geosite/curseforge.json"
          )
          
          GEOIP_URLS=(
            "https://github.com/runetfreedom/russia-blocked-geoip/raw/refs/heads/release/srs/ru-blocked.srs"
            "https://github.com/runetfreedom/russia-blocked-geoip/raw/refs/heads/release/srs/ru-blocked-community.srs"
            "https://github.com/runetfreedom/russia-blocked-geoip/raw/refs/heads/release/srs/google.srs"
            "https://github.com/runetfreedom/russia-blocked-geoip/raw/refs/heads/release/srs/telegram.srs"
            "https://github.com/1andrevich/Re-filter-lists/releases/latest/download/ruleset-ip-refilter_ipsum.srs"
          )

          mkdir -p data/geosite data/geoip

          cat <<'EOF' > parser.py
          import json, sys, os, re
          def extract(obj, target_type):
              res = []
              if isinstance(obj, dict):
                  for k, v in obj.items():
                      if target_type == 'geosite':
                          if k in ['domain_suffix', 'domain']: res.extend(v)
                          elif k == 'domain_keyword': res.extend(['keyword:' + x for x in v])
                          elif k == 'domain_regex':
                              for r in v:
                                  try:
                                      re.compile(r)
                                      res.append('regexp:' + r)
                                  except re.error:
                                      continue
                          else: res.extend(extract(v, target_type))
                      elif target_type == 'geoip':
                          if k == 'ip_cidr': res.extend(v)
                          else: res.extend(extract(v, target_type))
              elif isinstance(obj, list):
                  for item in obj: res.extend(extract(item, target_type))
              return res
          try:
              target, filename = sys.argv[1], sys.argv[2]
              with open('temp.json', 'r', encoding='utf-8') as f: data = json.load(f)
              results = extract(data, target)
              if results:
                  seen = set()
                  clean_results = []
                  for r in results:
                      if r and r not in seen:
                          clean_results.append(r)
                          seen.add(r)
                  with open(f'data/{target}/{filename}', 'a', encoding='utf-8') as f_out:
                      f_out.write('\n'.join(clean_results) + '\n')
          except Exception: pass
          EOF

          process_links() {
            local target=$1; shift
            local links=("$@")
            for url in "${links[@]}"; do
              [ -z "$url" ] && continue
              full_name=$(python3 -c "import sys, urllib.parse; print(urllib.parse.unquote(sys.argv[1].split('/')[-1]))" "$url")
              fname=$(echo "${full_name%.*}" | tr '@' '-' | tr '[:upper:]' '[:lower:]')
              if curl -sL --fail "$url" -o "temp_file"; then
                if [[ "$full_name" == *.srs ]]; then
                  sing-box rule-set decompile "temp_file" -o "temp.json" &>/dev/null || cp "temp_file" "temp.json"
                else
                  mv "temp_file" "temp.json"
                fi
                python3 parser.py "$target" "$fname"
                rm -f temp.json temp_file
              fi
            done
          }
          process_links "geosite" "${GEOSITE_URLS[@]}"
          process_links "geoip" "${GEOIP_URLS[@]}"

      - name: Build geosite.dat
        run: |
          if [ -f "files/ru-blocked.txt" ]; then
            cp files/ru-blocked.txt data/geosite/ru-blocked
            echo "✅ Файл mysite найден и скопирован"
          else
            echo "⚠️ Файл my_rules/ru-blocked.txt НЕ найден!"
          fi
          if [ -f "files/domain.txt" ]; then
            cp files/domain.txt data/geosite/domain
            echo "✅ Файл mysite найден и скопирован"
          else
            echo "⚠️ Файл my_rules/ru-blocked.txt НЕ найден!"
          fi
          go run github.com/v2fly/domain-list-community@latest --datapath=data/geosite --outputname=geosite.dat

      - name: Build geoip.dat
        run: |
          #if [ -f "files/ip.txt" ]; then
          #  cp files/ip.txt data/geoip/ip
          #  echo "✅ Файл mysite найден и скопирован"
          #else
          #  echo "⚠️ Файл my_rules/mysite.txt НЕ найден!"
          #fi
          cat <<EOF > geoip_config.json
          {"input": [{"type": "text", "action": "add", "args": {"inputDir": "data/geoip"}}],
           "output": [{"type": "v2rayGeoIPDat", "action": "output", "args": {"outputDir": ".", "outputName": "geoip.dat"}}]}
          EOF
          go install github.com/v2fly/geoip@latest
          $(go env GOPATH)/bin/geoip -c geoip_config.json

      - name: Generate SHA256
        run: |
          sha256sum geosite.dat > geosite.dat.sha256
          sha256sum geoip.dat > geoip.dat.sha256

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          make_latest: true
          files: |
            geosite.dat
            geoip.dat
            geosite.dat.sha256
            geoip.dat.sha256
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
