name: Update Blocked List

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repo
        uses: actions/checkout@v4

      - name: Download and Clean file
        run: |
          mkdir -p files
          curl -L https://github.com/runetfreedom/russia-blocked-geosite/raw/refs/heads/release/ru-blocked.txt | sed 's/^domain://' > files/ru-blocked.txt

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add files/ru-blocked.txt
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update and clean ru-blocked.txt $(date -u)" && git push)
